In [1]:
import pandas as pd

# custom functions
import utils

In [2]:
config_file = "../json/db_config_gans.json"
login_file  = "../json/api_login_openweather.json"

In [3]:
cities = utils.get_cities_df(config_file)
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   city_id  16 non-null     int64
 1   city     16 non-null     object
 2   pop      16 non-null     int64
 3   lat      16 non-null     object
 4   lon      16 non-null     object
 5   country  16 non-null     object
dtypes: int64(2), object(4)
memory usage: 900.0+ bytes

In [4]:
url, appid = utils.get_api_login(login_file)
weather_df = utils.get_weather_data(cities, url, appid)

Berlin
Hamburg
Munich
Cologne
Frankfurt
Stuttgart
Düsseldorf
Leipzig
Dortmund
Paris
Madrid
Amsterdam
Warsaw
Vienna
Zürich
Prague

In [5]:
weather_df.tail()

,city_id,retrieval_time,forecast_time,weather_desc,temp,temp_feels,pop,rain_mm,wind_speed
635,16,2024-02-15 11:23:37,2024-02-19 21:00:00,overcast clouds,7.71,5.26,0.01,0.00,3.87
636,16,2024-02-15 11:23:37,2024-02-20 00:00:00,light rain,6.92,4.08,0.20,0.12,4.27
637,16,2024-02-15 11:23:37,2024-02-20 03:00:00,scattered clouds,5.71,2.45,0.00,0.00,4.53
638,16,2024-02-15 11:23:37,2024-02-20 06:00:00,scattered clouds,5.28,2.21,0.00,0.00,3.99
639,16,2024-02-15 11:23:37,2024-02-20 09:00:00,broken clouds,8.05,5.32,0.00,0.00,4.60

In [6]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   city_id         640 non-null    int64
 1   retrieval_time  640 non-null    datetime64[ns]
 2   forecast_time   640 non-null    datetime64[ns]
 3   weather_desc    640 non-null    object
 4   temp            640 non-null    float64
 5   temp_feels      640 non-null    float64
 6   pop             640 non-null    float64
 7   rain_mm         640 non-null    float64
 8   wind_speed      640 non-null    float64
dtypes: datetime64[ns](2), float64(5), int64(1), object(1)
memory usage: 45.1+ KB

In [7]:
weather_sql = utils.push_df_to_sql(weather_df, 'weather', 
                                   config_file, return_df=True)
#weather_sql.tail()

In [8]:
weather_sql

,weather_id,city_id,retrieval_time,forecast_time,weather_desc,temp,temp_feels,pop,rain_mm,wind_speed
0,1,1,2024-02-15 11:23:35,2024-02-15 12:00:00,light rain,11.16,10.79,0.34,0.13,2.37
1,2,1,2024-02-15 11:23:35,2024-02-15 15:00:00,light rain,11.58,11.17,0.32,0.14,2.71
2,3,1,2024-02-15 11:23:35,2024-02-15 18:00:00,overcast clouds,10.76,10.35,0.12,0.00,2.81
3,4,1,2024-02-15 11:23:35,2024-02-15 21:00:00,overcast clouds,10.29,9.83,0.00,0.00,2.49
4,5,1,2024-02-15 11:23:35,2024-02-16 00:00:00,overcast clouds,9.37,7.98,0.00,0.00,2.65
...,...,...,...,...,...,...,...,...,...,...
635,636,16,2024-02-15 11:23:37,2024-02-19 21:00:00,overcast clouds,7.71,5.26,0.01,0.00,3.87
636,637,16,2024-02-15 11:23:37,2024-02-20 00:00:00,light rain,6.92,4.08,0.20,0.12,4.27
637,638,16,2024-02-15 11:23:37,2024-02-20 03:00:00,scattered clouds,5.71,2.45,0.00,0.00,4.53
638,639,16,2024-02-15 11:23:37,2024-02-20 06:00:00,scattered clouds,5.28,2.21,0.00,0.00,3.99
639,640,16,2024-02-15 11:23:37,2024-02-20 09:00:00,broken clouds,8.05,5.32,0.00,0.00,4.60

In [9]:
#weather_sql.info()